.whitebold {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.input {
	BORDER-RIGHT: #506998 1px solid; BORDER-TOP: #506998 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #506998 1px solid; COLOR: #003366; BORDER-BOTTOM: #506998 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bluelinks {
	FONT-SIZE: 10px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.footer {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.boldheading {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bullet_green1 {
	LIST-STYLE-IMAGE: url(images/bullet_arrow1.jpg)
}
.text {
	FONT-SIZE: 11px; LINE-HEIGHT: 17px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textheading
{
	FONT-SIZE: 24px; FONT-WEIGHT: bold; LETTER-SPACING: 0.3em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.textheadingsmall
{
	FONT-WEIGHT: bold; LETTER-SPACING: 0.1em;
}
/*H1 {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 0px solid; COLOR: #003366; BORDER-BOTTOM: #769748 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}*/
.subtitlebluedk {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtitlered2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bullet {
	FONT-SIZE: 11px; LIST-STYLE-IMAGE: url(/images/bullet.jpg); COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.textblue {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textbluedk {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
/*H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #769748; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}*/
.subtitlesmall {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tablelt {
	BACKGROUND-COLOR: #f4f4f7
}
.tabledk {
	BACKGROUND-COLOR: #506998
}
A:visited {
	COLOR: rgb (0 128 0)
}
.subtitlered {
	COLOR: #cc0000
}
.bullet_arrow1 {
	LIST-STYLE-IMAGE: url(images/bullet_arrow1.jpg)
}
.subtitleblue {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0052a4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
/*H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #769748; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0052a4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}*/
.whitebold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.textwhite {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bullet4 {
	LIST-STYLE-IMAGE: url(images/bullet4.jpg)
}
.bullet2 {
	LIST-STYLE-IMAGE: url(images/bullet3.jpg)
}
.redtext {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bluetext {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #506998; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.textblack {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gray_bg1 {
	BACKGROUND-COLOR: #798999
}
.gray_bg2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #edeff1
}
.bullet5 {
	LIST-STYLE-IMAGE: url(images/bullet5.jpg)
}
.greensubtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #669933; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
/*H6 {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 0px solid; COLOR: #6d8dbe; BORDER-BOTTOM: #769748 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}*/
.yellowbold {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffcc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.yellowbold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.text2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #506998; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.smalltext {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.width70pcent
	{
	width: 70%;
	}
BODY
	{
	SCROLLBAR-FACE-COLOR: #6091c3;
	SCROLLBAR-HIGHLIGHT-COLOR: #f1f1f1;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: white;
	SCROLLBAR-TRACK-COLOR: #f0f0f0;
	SCROLLBAR-DARKSHADOW-COLOR: #6091c3;
	SCROLLBAR-BASE-COLOR: #6091c3;
	SCROLLBAR-3D-LIGHT-COLOR: #6091C3;
	/*background: no-repeat;*/
	}
TEXTAREA
	{
	SCROLLBAR-FACE-COLOR: #6091c3;
	SCROLLBAR-HIGHLIGHT-COLOR: #f1f1f1;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: white;
	SCROLLBAR-TRACK-COLOR: #f0f0f0;
	SCROLLBAR-DARKSHADOW-COLOR: #6091c3;
	SCROLLBAR-BASE-COLOR: #6091c3;
	SCROLLBAR-3D-LIGHT-COLOR: #6091C3;
	}
.button 
	{
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	font-family: Tahoma,Arial,Verdana,"Times New Roman";
	font-weight: bold;
	text-decoration: none;
	}
.button1
	{
	font-weight: normal;
	font-size: 11px;
	color: #6600FF;
	font-family: Tahoma,Arial,Verdana,"Times New Roman";
	font-weight: bold;
	text-decoration: underline;
	}
.tablecol
	{
	background-color: rgb(241 244 250);
	}
.textbox 
	{
	border: #476085 1px SOLID;
	font-weight: normal;
	font-size: 11px;
	width: 140px;
	color: 000033;
	height: 18px;
	font-family: Tahoma,Arial,Verdana,"Times New Roman";
	background-color: #f4f8fb
	}
.textbox1
	{
	border: #476085 1px SOLID;
	font-weight: normal;
	font-size: 11px;
	width: 140px;
	color: 000033;
	height: 18px;
	background-color: #f4f8fb
	}
.universaltextbox
	{
	border: #FF3333 1px SOLID;
	font-weight: normal;
	font-size: 11px;
	width: 140px;
	color: #6600FF;
	height: 18px;
	font-family: Tahoma,Arial,Verdana,"Times New Roman";
	background-color: #FFFFCC
	}
.subres
	{
	border: #476085 1px SOLID;
	font-weight: normal;
	font-size: 11px;
	color: 000033;
	height: 18px;
	font-family: Tahoma,Arial,Verdana,"Times New Roman";
	background-color: #f4f8fb;
	font-weight: bold;
	width: 80px;
	}
.subres1
	{
	border: #FF3333 1px SOLID;
	font-weight: normal;
	font-size: 11px;
	color: #6600FF;
	height: 18px;
	font-family: Tahoma,Arial,Verdana,"Times New Roman";
	background-color: #FFFFCC;
	font-weight: bold;
	width: 80px;
	}
.invalid
	{
	border: #FF3333 1px SOLID;
	font-weight: normal;
	font-size: 11px;
	color: #FF0000;
	font-family: Tahoma,Arial,Verdana,"Times New Roman";
	background-color: #FFFFCC;
	font-weight: bold;
	}
.txtarea 
	{
	border: #476085 1px SOLID;
	font-weight: normal;
	font-size: 11px;
	width: 140px;
	color: 000033;
	font-family: Tahoma,Arial,Verdana,"Times New Roman";
	background-color: #f4f8fb
	}
.txtarea1
	{
	border: #476085 1px SOLID;
	font-weight: normal;
	font-size: 11px;
	width: 140px;
	color: 000033;
	background-color: #f4f8fb
	}
.universaltxtarea
	{
	border: #FF3333 1px SOLID;
	font-weight: normal;
	font-size: 11px;
	width: 140px;
	color: #6600FF;
	font-family: Tahoma,Arial,Verdana,"Times New Roman";
	background-color: #FFFFCC;
	}
.celltext
	{
	COLOR: #5c6985;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
	font-weight: bold;
	}